In [27]:
import pandas as pd
from sklearn.impute import SimpleImputer


train_data = pd.read_csv('train.csv')

imputer_age = SimpleImputer(strategy='median')
train_data['Age'] = imputer_age.fit_transform(train_data[['Age']])

print(train_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [28]:
train_data.drop(columns=['Cabin'], inplace=True)

In [29]:

train_data = pd.get_dummies(train_data, columns=['Sex', 'Embarked'], drop_first=True)

print(train_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
2                             Heikkinen, Miss. Laina  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
4                           Allen, Mr. William Henry  35.0      0      0

             Ticket     Fare  Sex_male  Embarked_Q  Embarked_S
0         A/5 21171   7.2500      True       False        True
1          PC 17599  71.2833     False       False       False
2  STON/O2. 3101282   7.9250     False       False        True
3            113803  53.1000     False       False        True
4            373450   8.0500      True       False        True

In [30]:

train_data['Title'] = train_data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)


train_data['Title'] = train_data['Title'].replace(['Lady', 'Countess','Capt', 'Col',\
                                                   'Don', 'Dr', 'Major', 'Rev', 'Sir',\
                                                   'Jonkheer', 'Dona'], 'Rare')
train_data['Title'] = train_data['Title'].replace('Mlle', 'Miss')
train_data['Title'] = train_data['Title'].replace('Ms', 'Miss')
train_data['Title'] = train_data['Title'].replace('Mme', 'Mrs')


title_mapping = {'Mr': 1, 'Miss': 2, 'Mrs': 3, 'Master': 4, 'Rare': 5}
train_data['Title'] = train_data['Title'].map(title_mapping)
train_data['Title'] = train_data['Title'].fillna(0)


train_data['FamilySize'] = train_data['SibSp'] + train_data['Parch'] + 1


print(train_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
2                             Heikkinen, Miss. Laina  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
4                           Allen, Mr. William Henry  35.0      0      0

             Ticket     Fare  Sex_male  Embarked_Q  Embarked_S  Title  \
0         A/5 21171   7.2500      True       False        True      1
1          PC 17599  71.2833     False       False       False      3
2  STON/O2. 3101282   7.9250     False       False        True      2
3            113803  53.1000     False       False        True      3
4            373450   8.0500      True       False        True      1

   FamilySize
0           2
1           2
2           1
3           2
4           1

In [31]:

train_data.drop(columns=['Name', 'Ticket'], inplace=True)

print(train_data.head())

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  Sex_male  \
0            1         0       3  22.0      1      0   7.2500      True
1            2         1       1  38.0      1      0  71.2833     False
2            3         1       3  26.0      0      0   7.9250     False
3            4         1       1  35.0      1      0  53.1000     False
4            5         0       3  35.0      0      0   8.0500      True

   Embarked_Q  Embarked_S  Title  FamilySize
0       False        True      1           2
1       False       False      3           2
2       False        True      2           1
3       False        True      3           2
4       False        True      1           1

In [32]:
from sklearn.model_selection import train_test_split


X = train_data.drop(columns=['Survived', 'PassengerId'])
y = train_data['Survived']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f'X_train shape: {X_train.shape}')
print(f'X_test shape: {X_test.shape}')
print(f'y_train shape: {y_train.shape}')
print(f'y_test shape: {y_test.shape}')

X_train shape: (712, 10)
X_test shape: (179, 10)
y_train shape: (712,)
y_test shape: (179,)

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report

# Define the model
model = LogisticRegression(max_iter=1000)

# Train the model
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print(f'Accuracy: {accuracy}')
print(f'Precision: {precision}')
print(f'Recall: {recall}')
print(f'F1 Score: {f1}')
print('Confusion Matrix:')
print(confusion_matrix(y_test, y_pred))
print('Classification Report:')
print(classification_report(y_test, y_pred))

Accuracy: 0.7821229050279329
Precision: 0.7397260273972602
Recall: 0.7297297297297297
F1 Score: 0.7346938775510203
Confusion Matrix:
[[86 19]
 [20 54]]
Classification Report:
              precision    recall  f1-score   support

           0       0.81      0.82      0.82       105
           1       0.74      0.73      0.73        74

    accuracy                           0.78       179
   macro avg       0.78      0.77      0.77       179
weighted avg       0.78      0.78      0.78       179

In [34]:


missing_cols = set(X_train.columns) - set(test_data.columns)
for c in missing_cols:
    test_data[c] = 0

test_data = test_data[X_train.columns]


test_predictions = model.predict(test_data)

output = pd.DataFrame({'PassengerId': passenger_ids, 'Survived': test_predictions})
output.to_csv('submission.csv', index=False)
print('Submission file has been created.')

Submission file has been created.